{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TurismoHospitality</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="{% url 'home' %}" class="logo"><img src="{% static 'images/logo.jpg' %}"></a>
                <ul class="nav-links">
                    <li class="select">
                        <select id="miSelect">
                            <option value="opcion1">Español</option>
                            <option value="opcion2">Inglés</option>
                        </select>
                        <span class="custom-arrow"></span>
                    </li>
                    <li class="sesion"><a href="{% url 'login' %}">Iniciar sesión</a></li>
                    <li class="register"><a href="{% url 'registro' %}">Registrarse</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="messages-data" 
        data-warning-message="{% for message in messages %}{% if message.tags == 'warning' %}{{ message }}{% endif %}{% endfor %}">
    </div>

    <div id="logoutModal" class="modal">
        <div class="modal-content">
            <img src="{% static 'images/logo.jpg' %}" width="260px" height="80px">
            <div class="modal-message">
                {% for message in messages %}
                    {% if message.tags == 'warning' %}
                        {{ message }}
                    {% endif %}
                {% endfor %}
            </div>
            <h5>TurismoHospitality</h5>
        </div>
    </div>

    <main>
        <div class="form-inicio">
            <div class="info">
                <h1>Turismo Hospitality</h1>
                <h2>Gestión y reservación de hoteles</h2>
                
                <p><strong>Turismo Hospitality </strong>es una herramienta interactiva para estudiantes de Turismo. Esta plataforma te permite simular la
                    experiencia de ser recepcionista en un hotel, atendiendo clientes virtuales que
                    realizarán reservas, consultas y solicitudes especiales. Ideal para practicar antes de tus prácticas profesionales.
                </p>

                <button class="btn"><a href="{% url 'login' %}">Comenzar prática</a></button>
            </div>

            <div class="slider">
                <div class="slide-active">
                    <div class="slide">
                        <img src="{% static 'images/ciudad.jpg' %}" width="400px" height="280px" alt="Imagen 1">
                    </div>
                    <div class="slide">
                        <img src="{% static 'images/playa.jpg' %}" width="400px" height="280px" alt="Imagen 2">
                    </div>
                    <div class="slide">
                        <img src="{% static 'images/montañas.jpg' %}" width="400px" height="280px" alt="Imagen 3">
                    </div>
                    <div class="slide">
                        <img src="{% static 'images/naturaleza.jpg' %}" width="400px" height="280px" alt="Imagen 4">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-inicio2">
            <div class="interactivo">
                <div class="ico">
                    <i class="fas fa-users fa-5x"></i>
                    <h4>Simulación realista</h4>
                    <p>Atiende clientes virtuales con diferentes necesidades</p>
                </div>
                <div class="ico">
                    <i class="fas fa-exchange-alt fa-5x"></i>
                    <h4>Interacción dinámica</h4>
                    <p>Responde a reservas, consultas y solicitudes de manera efectiva</p>
                </div>
                <div class="ico">
                    <i class="fas fa-award fa-5x"></i>
                    <h4>Retroalimentación de aprendizaje</h4>
                    <p>Recibe evaluaciones automáticas sobre tu desempeño</p>
                </div>
            </div>
        </div>

        <div class="about">
            <div class="about-card">
                <h2>¿Cómo funciona?</h2>
                <p>1. Inicia sesión o regístrate.</p>
                <p>2. Explora las diferentes secciones: Reservas, Consultas, Solicitudes.</p>
                <p>3. Interactúa con los clientes virtuales y practica tus habilidades de atención al cliente.</p>
                <p>4. Mejora tu desempeño con cada interacción.</p>
                <button class="btn"><a href="{% url 'registro' %}">Registrarse</a></button>

                <h2>Enfocado a:</h2>
                <p>Práticas de gestión y reservación de hoteles y boletería</p>

                <h2>Características:</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid recusandae magnam repudiandae temporibus magni.
                Assumenda unde ipsam tempora accusantium fuga nulla et magni quidem deleniti? Quo debitis provident quidem qui! Eum,
                aperiam veniam amet qui excepturi iure voluptas tempore unde tempora exercitationem distinctio quod natus necessitatibus
                similique laudantium soluta illum alias nulla consectetur dolorum repellendus tenetur!</p>
            </div>

            <div class="about-card">
                <h2>Áreas clave de aprendizaje:</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente adipisci vel ipsum placeat beatae est? Aliquam
                praesentium, soluta sit voluptate sint sequi animi quaerat repudiandae, hic officia saepe alias cum minima ipsa
                explicabo? Facilis corporis natus necessitatibus optio doloribus rerum dolorem, ullam dolores quis eos ex ab error
                aspernatur vel.</p>

                <h2>Resultados esperados:</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente adipisci vel ipsum placeat beatae est? Aliquam
                praesentium, soluta sit voluptate sint sequi animi quaerat repudiandae, hic officia saepe alias cum minima ipsa
                explicabo? Facilis corporis natus necessitatibus optio doloribus rerum dolorem, ullam dolores quis eos ex ab error
                aspernatur vel.</p>
            </div>

            <div class="about-card">
                <h2>Idiomas disponibles:</h2>
                <p>Español, inglés.</p>

                <h2>Desarrollado por:</h2>
                <p>José Noa, Wilmaiker Carreño, Yhon Gascón, Alexander Jiménez, Fernando Ochoa y Eliu Contreras | 
                    <strong>U.T.D "Francisto Tamayo" - PNF Informática.</strong></p>
            </div>
        </div>
    </main>

    <footer>
    <script src="https://kit.fontawesome.com/301150991d.js" crossorigin="anonymous"></script>

        <div class="container">
            <div class="grupo-1">
                <div class="box">
                    <h3>Contáctenos:</h3>
                    <p><i class="fas fa-map-marker-alt"></i> Dirección: Calle Falsa 123, Ciudad</p>
                    <p><i class="fas fa-phone"></i> Teléfono: +1 234 567 890</p>
                    <p><i class="fas fa-envelope"></i> Email:
                </div>

                <div class="box">
                    <h3>Enviar informe de error:</h3>
                    <p>Especifique<span style="color: rgb(229, 94, 13);">*</span></p>
                    <input type="text" required>
                    <button type="submit" class="btn">Enviar</button>

                    <h3>Síganos:</h3>
                    <div class="social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-whatsapp"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-twitter"></a>
                    </div>
                </div>

                <div class="box">
                    <figure>
                        <img src="{% static 'images/logo_utd.jpg' %}"  width="50px" height="50px" alt="Logo de Turismo Hospitality" class="logo-footer">
                    </figure>

                    <figure>
                        <img src="{% static 'images/logo.jpg' %}"  width="90px" height="80px" alt="Logo de Turismo Hospitality" class="logo-footer">
                    </figure>

                    <figure>
                        <img src="{% static 'images/logo_pnfi.jpg' %}"  width="110px" height="80px" alt="Logo de Turismo Hospitality" class="logo-footer">
                    </figure>
                </div>



            </div>

            <div class="grupo-2">
                <small>&copy; 2025 Reservación de Hoteles | Todos los Derechos Reservados</small>
            </div>
        </div>
    </footer>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
    const modal = document.getElementById('logoutModal');
    const modalMessage = document.querySelector('.modal-message');
    const hasMessage = modalMessage.textContent.trim() !== '';

    // Función para mostrar el modal con animación
    function showModal() {
        modal.style.display = 'flex';
        modal.style.animation = 'fadeIn 0.3s ease-out forwards';
    }

    // Función para cerrar el modal con animación
    function closeModal() {
        modal.style.animation = 'fadeOut 0.3s ease-out forwards';
        setTimeout(() => {
            modal.style.display = 'none';
            sessionStorage.removeItem('showLogoutModal'); // Limpiar al cerrar
        }, 300);
    }

    // Lógica principal
    if (hasMessage) {
        showModal();
        sessionStorage.setItem('showLogoutModal', 'true'); // Guardar estado
        
        // Cerrar al hacer clic fuera
        modal.addEventListener('click', (e) => {
            if (e.target === modal) {
                closeModal();
            }
        });
    } else if (sessionStorage.getItem('showLogoutModal')) {
        // Mostrar solo si se cerró sesión recientemente
        showModal();
        sessionStorage.removeItem('showLogoutModal'); // Limpiar después de mostrar
        
        // Cerrar al hacer clic fuera
        modal.addEventListener('click', (e) => {
            if (e.target === modal) {
                closeModal();
            }
        });
    } else {
        modal.style.display = 'none';
    }

        // Cerrar con tecla ESC (opcional)
        document.addEventListener('keydown', (e) => {
            if (e.key === 'Escape' && modal.style.display === 'flex') {
                closeModal();
            }
        });
    });

    document.getElementById('miSelect').addEventListener('change', function() {
    const valorSeleccionado = this.value;
    
    if (valorSeleccionado) {
        console.log('Opción seleccionada:', valorSeleccionado);
        // Aquí puedes agregar la lógica para manejar la selección
        // Por ejemplo:
        // if (valorSeleccionado === 'opcion1') { ... }
        // else if (valorSeleccionado === 'opcion2') { ... }
    }
    });
    </script>
</body>
</html>

